{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "mocha": true,
  },
  "extends": "airbnb",
  "rules": {
    "no-var": 1,
    "no-underscore-dangle": 0,
    "import/no-unresolved": 0,
    "max-len": [
      1,
      120,
      4,
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignorePattern": "^\\s*var\\s.+=\\s*require\\s*\\("
      }
    ],
    "new-cap": 1,
    "arrow-parens": 0,
    "arrow-body-style": 0,
    "indent": [
      1,
      4
    ],
    "no-unused-vars": 1,
    "camelcase": 1,
    "prefer-const": 1,
    "object-curly-spacing": 0,
    "func-names": 0,
    "space-before-function-paren": [
      2,
      "never"
    ],
    "no-console": 2,
    "prefer-arrow-callback": 0,
    "no-warning-comments": 1,
    "no-param-reassign": 0,
    "spaced-comment": [
      2,
      "always",
      {
        "exceptions": [
          "region Winston",
          "endregion"
        ]
      }
    ],
    "no-use-before-define": 0
  }
}
