<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ackee Node Template">
    <meta name="author" content="Ackee s.r.o.">

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed.png">

    <title>Ackee Node Template</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/admin.css" rel="stylesheet" type="text/css">

    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}

    {% block javascripts %}
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootstrap-validator/dist/validator.min.js"></script>
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables/media/js/dataTables.bootstrap.min.js"></script>
    <link href="/bower_components/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/js/app.js"></script>
    {% endblock %}
</body>
</html>
