{% extends '../template.html' %}

{% block contentWhole %}
<div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon glyphicon-cog panel-icon pull-left" aria-hidden="true"></span>
            <h3 class="panel-title pull-left">Main page</h3>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            ...
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% parent %}
{% endblock %}